.user-button .row {
  height: 110px;
  width: 100%;
}
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */

p:not(:last-child) {
  margin: 0 0 20px;
}

main {
  /* max-width: 800px; */
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  /* border-top: 2px solid #0af; */
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
  .special-text {
    margin-top: 275% !important;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1025px) {
  .special-text {
    margin-top: 200% !important;
  }
}
.table-bordered {
  border: 0px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 0px;
}

th {
  text-align: center;
  width: 25%;
}

.table th h1 {
  font-weight: bold;
}

.table {
  text-align: center;
  background-image: linear-gradient(to top, #697da2, #9c9ec5, #afb4b7);
  border-radius: 10px;
}

.table > thead > tr > th {
  background-image: linear-gradient(to top, #81868a, #9c9ec5, #697da2);
}

.table > thead > tr > th:nth-child(1) {
  border-top-left-radius: 10px;
}
.table > thead > tr > th:nth-child(4) {
  border-top-right-radius: 10px;
}

.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-right: 3px solid #000 !important;
  padding-bottom: 20px;
  padding-top: 20px;
}
.table > tbody > tr > td:nth-last-child(1),
.table > tfoot > tr > td:nth-last-child(1) {
  border-right: 0px !important;
}

.table > tfoot > tr > td {
  border-bottom: 3px solid #000 !important;
}
.img_Templete {
  /* width: 200px; */
  height: 100px;
  width: 100%;
  /* box-shadow: 0 0 0px 4px #949390; */
  border: 3px solid #000;
  cursor: pointer;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}
/* tbody {
    width: 100%;
    display: block;
    text-align: center;
} */
.special-tr {
  width: 90%;
  display: block;
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.table > tbody > td > tbody {
  width: 100% !important;
  display: block;
}
.special-td {
  /* border-right: 3px solid #000 ;
    border-bottom: 3px solid #000;
    vertical-align: text-top !important ; */
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  vertical-align: text-top;
}
.last-col {
  border-right: 0px !important;
}

.row {
  margin-right: -25px;
  margin-left: 0px;
}

.special-td:nth-child(1) .special-tr {
  /* background-color: #01b0ef; */
  background-image: linear-gradient(to right, #344289, #3d56b2, #4b86d4);
}

.special-td:nth-child(2) .special-tr {
  /* background-color: #01ba29; */
  background-image: linear-gradient(to right, #654e18, #94771b, #a3954c);
}

.special-td:nth-child(3) .special-tr {
  /* background-color: #ef7401; */
  background-image: linear-gradient(to right, #a10e14, #ae1625, #bd5f81);
}

.special-td:nth-child(4) .special-tr {
  /* background-color: #ef0101; */
  background-image: linear-gradient(to right, #0f570d, #08a20e, #39b74c);
}

.special-text_box {
  height: 100px;
  position: relative;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.special-text {
  /* color: #ffffff;
  font-weight: bold;
  margin: 0;
  font-family: sans-serif;
  top: 56%;
  transform: translateY(-50%);
  margin-top: 100%;
  font-size: initial; */

  color: #ffffff;
  font-weight: bold;
  margin: -20px;
  font-family: sans-serif;
  /* top: 56%; */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 110%;
  font-size: initial;
}
