<div
  class="row wrapper border-bottom  page-heading w3-animate-right"
  style="animation-duration: 3s"
>
  <div class="col-sm-4" style="margin: 0 16px">
    <a routerLink="/">
      <p class="head_child">&nbsp;{{ pillarName }}</p>
    </a>
  </div>
</div>
<div
  class="wrapper wrapper-content w3-animate-right w1"
  style="animation-duration: 3s;padding: 22px 0px 25px 0px;   padding-left: 45px; "
>
  <!--
    <div class="row" style="margin-right: 0px;">
      <div class="col-md-6 col-sm-12 col-xs-12" *ngFor="let card of cards; let i = index">
        <div class="card-box">
          <div class="col-lg-7 col-md-7 col-sm-8 col-xs-6 childbox">
            <h2 class="head_child_card"> {{card.title}} </h2>
            <p class="sub_head_child_card">
              {{card.subtitle}}
            </p>
            <div class="user-button">
              <div class="row">
                <button type="button" *ngFor="let button of card.buttons | keys" (click)="onButtonClicked(button.key,card._id)"
                  class="  btn-primary btn-sm  btn-rounded child_button" style="float:left;"> {{button.value}}</button>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6">
            <div style="text-align:right;">
              <img alt="image" class="child-card img-responsive" src="{{imagePath}}{{card.imageID}}" onError="this.src='img/logo.png';">
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let card of cards; let x = index">
          <!-- <h1>{{card.title}}</h1> -->
          <img *ngIf="x == 0" src="img/plan.png" style="width: 30%;" />
          <img *ngIf="x == 1" src="img/do.png" style="width: 30%;" />
          <img *ngIf="x == 2" src="img/check.png" style="width: 30%;" />
          <img *ngIf="x == 3" src="img/act.png" style="width: 30%;" />
        </th>
      </tr>
    </thead>
    <tbody>
      <td
        class="special-td"
        [ngClass]="{ 'last-col': i == cards.length - 1 }"
        *ngFor="let card of cards; let i = index"
      >
        <tr class="special-tr" *ngFor="let button of (card.buttons | keys)">
          <div class="row">
            <div class="col-xs-2 special-text_box">
              <p class="special-text">{{ button.value.title }}</p>
            </div>

            <div class="col-xs-9 img_Templete_box">
              <img
                *ngIf="button.value.payload.templateType == '14'"
                (click)="onButtonClicked(button.key, card._id)"
                class="img_Templete"
                src="{{ button.value.payload.tmpImage ?  imagePath + button.value.payload.tmpImage : getTempURL(button.value.payload.templateType)}}"
                onError="this.src='img/logo.png';"
              />
              <app-dynamic-component
                *ngIf="button.value.payload.templateType != '14'"
                [data]="getComponentData(button.key, card._id)"
                (click)="onButtonClicked(button.key, card._id)"
              ></app-dynamic-component>
            </div>
          </div>
        </tr>
      </td>
    </tbody>
  </table>
</div>

<app-feedback [pillar]="pillarName"></app-feedback>
<app-screensaver
  *ngIf="screensaver_active"
  [pillars]="screeSaverPillars"
></app-screensaver>
