<div class="row wrapper border-bottom  page-heading">
  <div class="col-sm-4">
    <a href="index.html">
      <h2>
        <i class="fa fa-angle-left"></i> &nbsp; {{pillarName}} </h2>
    </a>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12" *ngFor="let card of cards">
      <div class="card-box">
        <div class="col-lg-4 col-md-12 col-sm-4 col-xs-12">
          <div class="text-center">
            <img alt="image" class="child-card img-responsive" src="{{card.imgUrl}}">
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-lg-8 col-md-12 col-sm-8 col-xs-12 col-xs-12">
          <h2>
            <strong> {{card.title}} </strong>
          </h2>
          <p class="font-size-18">
            {{card.description}}
          </p>
          <div class="user-button">
            <div class="row">
              <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let button of card.buttons">
                <button type="button" class="btn large btn-info btn-sm btn-block btn-rounded"> {{button.buttonName}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>