<div class="wrapper wrapper-content">
  <div class="row w3-animate-left" style="animation-duration: 4s">
    <a *ngFor="let pillar of pillars" (mouseenter)="mouseEnter(pillar) " (mouseleave)="mouseLeave(pillar)">
      <div class="col-lg-2 cards col-md-2 col-sm-6 col-xs-12 ipad">
        <div class="ibox">
          <div class="ibox-content product-box w3-animate-left" style="animation-duration: 3s">
            <a routerLink="/pillarDetails/{{pillar._id}}">
              <div class="product-imitation">
                <img src="{{imagePath}}{{pillar.imageID}}" onError="this.src='img/a1.jpg';" class="img-responsive img_card" width="100%"
                />
              </div>
              <div class="product-desc">
                <span class="product-price">
                  <img src="img/u186.svg" class="arrow">
                </span>
                <h2 class="card_header"> {{pillar.title}} </h2>
                <p [ngClass]="{'hovered': pillar._id == hoveredPillarId}" id="aa" class="sub_login-title-style sub_login-title-style_card ss ">
                  {{pillar.subtitle}}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>