@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.hovered {
  height: auto !important;
  line-height: 23px !important;
  overflow-y: scroll !important;
  height: 175px !important;
}
.fade-out {
  display: none;
}

p:not(:last-child) {
  margin: 0 0 20px;
}

main {
  /* max-width: 800px; */
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #abc;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  color: #0af;
  border: 1px solid #abc;
  /* border-top: 2px solid #0af; */
/* border-bottom: 1px solid #fff;
} 

.tabs #tab1:checked ~ #content1,
.tabs #tab2:checked ~ #content2,
.tabs #tab3:checked ~ #content3,
.tabs #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 800px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  margin: 0 0.5em 0 0;
}

#tabs a {
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  padding: 0.7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #fff;
}

#tabs a:focus {
  outline: 0;
}

#tabs a::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: -0.5em;
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  transform: skew(10deg);
  border-radius: 0 5px 0 0;
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

#content {
  background: #fff;
  padding: 2em;
  height: 220px;
  position: relative;
  z-index: 2;
  border-radius: 0 5px 5px 5px;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.5);
} */

.tab {
  margin-top: 30px;
}
.tab .nav-tabs {
  border: none;
  border-bottom: 1px solid #e4e4e4;
}
.nav-tabs li a {
  padding: 15px 40px;
  border: 1px solid #ededed;
  border-top: 2px solid #ededed;
  border-right: 0px none;
  background: #199ed8;
  color: #fff;
  border-radius: 0px;
  margin-right: 0px;
  font-weight: bold;
  transition: all 0.3s ease-in 0s;
  font-size: 20px;
}
.nav-tabs li a:hover {
  border-bottom-color: #ededed;
  border-right: 0px none;
  background: #00b0ad;
  color: #fff;
}
.nav-tabs li a i {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}
.nav-tabs li:last-child {
  border-right: 1px solid #ededed;
}
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
  border-top: 3px solid #00b0ad;
  border-right: 1px solid #d3d3d3;
  margin-top: -15px;
  color: #199ed8;
  padding: 22px 40px;
  background: none;
}
.tab .tab-content {
  padding: 20px;
  line-height: 22px;
}
.tab .tab-content h3 {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  .nav-tabs li {
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-tabs li a {
    padding: 15px;
  }
  .nav-tabs li.active a,
  .nav-tabs li.active a:focus,
  .nav-tabs li.active a:hover {
    padding: 15px;
    margin-top: 0;
  }
}
