<div class="screensaver">
  <h1>
    {{showedButton.params.name}} / {{showedButton.cardTitle}}
  </h1>
  <app-stages-template class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '1'"></app-stages-template>
  <app-licence-table class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '2'"></app-licence-table>
  <app-team-template class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '3'"></app-team-template>
  <app-template4 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '4'"></app-template4>
  <app-team-charter class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '5'"></app-team-charter>
  <app-template6 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '6'"></app-template6>
  <app-templete7 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '7'"></app-templete7>
  <app-template9 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '9'"></app-template9>
  <app-templete10 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '10'"></app-templete10>
  <app-templete11 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '11'"></app-templete11>
  <app-templete12 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '12'"></app-templete12>
  <app-temp13 class="animate-right" style="animation-duration: 3s" [params]="showedButton.params" *ngIf="showedButton.templateType == '13'"></app-temp13>


</div>
