<div class="row page-heading" style="    margin-left: 5px;">
    <div class="col-lg-12" style="    margin-top: 35px;">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">
                    <i class="fa fa-home" style="    font-size: 19px;    margin-right: 5px;"></i> {{pillarName}} </a>
            </li>
            <li>
                <a (click)="backClicked()"> {{cardTitle}} </a>
            </li>

        </ol>
        <h2 class="sub_head_child_card" style="font-size:30px;"> Template</h2>
    </div>
</div>
<div class="wrapper wrapper-content" style="padding-left: 0px !important;padding-top: 0 !important;">
    <div class="row">
        <!-- <div class="col-md-9 col-sm-9">
            <div id="num1" *ngIf="activePanel =='1'" class="mySlides w3-animate-left">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colOneHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11">{{temp11.colOneText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colTwoHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colTwoText}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colThreeHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colThreeText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num2" *ngIf="activePanel =='2'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colFourText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active">{{temp11.colFiveText}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colSixText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num3" *ngIf="activePanel =='3'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colSevenText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colEightText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colNineText}} </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num4" *ngIf="activePanel =='4'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colTenText}} </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colElevenText}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colTwelveText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-v-20" style="    margin-left: 35px;">
                <a (click)="showPanel('1')"  class="demo btn btn-circle btn-default sub_head_child_card"
                    style="font-size:20px !important; color:#000 !important;">1</a>
                <a (click)="showPanel('2')"  class="demo btn btn-circle btn-default sub_head_child_card"
                    style="font-size:20px !important; color:#000 !important;">2</a>
                <a (click)="showPanel('3')"  class="demo btn btn-circle btn-default sub_head_child_card"
                    style="font-size:20px !important; color:#000 !important;">3</a>
                <a (click)="showPanel('4')"  class="demo btn btn-circle btn-default sub_head_child_card"
                    style="font-size:20px !important; color:#000 !important;">4</a>
            </div>
        </div> -->


        <!-- 
        <div class="col-md-3 col-sm-3 col-xs-12 text-center">
            <img src="img/img11.svg" class="img-responsive inline" width="400" />
        </div> -->

        <div class="col-md-9 col-sm-9">
            <div id="num01" class="mySlides w3-animate-left">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colOneHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colOneText}} </li>
                                <!-- <li class="list-group-item temp11"> CIL Completion 90% </li> -->
                                <!-- <li class="list-group-item temp11"> ZUT 0.00 </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colTwoHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colTwoText}} </li>
                                <!-- <li class="list-group-item temp11"> CIL Completion 100% </li> -->
                                <!-- <li class="list-group-item temp11"> ZUT 0.00</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colThreeHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colThreeText}} </li>
                                <!-- <li class="list-group-item temp11"> CIL Completion 90% </li> -->
                                <!-- <li class="list-group-item temp11"> ZUT 0.00 </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num02" class="mySlides w3-animate-left">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">

                            <p class="p-item temp11"> {{temp11.colFourText}} </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11"> {{temp11.colFiveText}} </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">

                            <p class="p-item temp11"> {{temp11.colSixText}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num03" class="mySlides w3-animate-left">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">


                            <p class="p-item temp11">

                                {{temp11.colSevenText}}
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11">
                                {{temp11.colEightText}}
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11">
                                {{temp11.colNineText}}
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div id="num04" class="mySlides w3-animate-left">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11">
                                {{temp11.colTenText}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12" style="    top: 110px;">
                    <img src="img/u2029.svg" style="width: 140%;">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11">
                                {{temp11.colElevenText}}

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-12" style="    top: 110px;">
                    <img src="img/u2029.svg" style="width: 140%;">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" style="margin-right: 5%;">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <p class="p-item temp11">
                                {{temp11.colTwelveText}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding-v-20" style="    margin-left: 35px;">

                <a class="demo btn btn-circle btn-default sub_head_child_card" style="font-size:20px !important; color:#000 !important;"
                    (click)="currentDiv(1)">1</a>
                <a class="demo btn btn-circle btn-default sub_head_child_card" style="font-size:20px !important; color:#000 !important;"
                    (click)="currentDiv(2)">2</a>
                <a class=" demo btn btn-circle btn-default sub_head_child_card" style="font-size:20px !important; color:#000 !important;"
                    (click)="currentDiv(3)">3</a>
                <a class="demo btn btn-circle btn-default sub_head_child_card" style="font-size:20px !important; color:#000 !important;"
                    (click)="currentDiv(4)">4</a>

            </div>
        </div>



        <div class="col-md-3 col-sm-3 col-xs-12 text-center">
            <img src="img/img11.svg" class="img-responsive inline" width="400" />
        </div>


    </div>

</div>