<div class="row page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb" style="margin-top: 20px">
            <li>
                <a href="/home"> {{pillarName}} </a>
            </li>
            <li>
                <a href="/pillarDetails/{{pillarId}}"> {{cardTitle}} </a>
            </li>

        </ol>
    </div>
</div>
<div class="wrapper wrapper-content btn-white">
    <div class="row">
        <div class="col-md-9">
            <div id="num1" *ngIf="activePanel =='1'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colOneHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11">{{temp11.colOneText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colTwoHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colTwoText}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-heading panel-temp text-center">
                            <h3 class="panel-title ">
                                {{temp11.colThreeHeader}}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body temp11">
                            <ul class="list-group">
                                <li class="list-group-item temp11"> {{temp11.colThreeText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num2" *ngIf="activePanel =='2'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colFourText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active">{{temp11.colFiveText}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colSixText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num3" *ngIf="activePanel =='3'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colSevenText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colEightText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colNineText}} </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="num4" *ngIf="activePanel =='4'">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colTenText}} </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colElevenText}}</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel panel-primary temp11">
                        <div class="panel-body temp11 active">
                            <ul class="list-group">
                                <li class="list-group-item temp11 active"> {{temp11.colTwelveText}} </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding-v-20">
                <div class="text-center">
                    <a (click)="showPanel('1')" [ngClass]="{'active' : activePanel=='1'}" class="btn btn-circle btn-default">1</a>
                    <a (click)="showPanel('2')" [ngClass]="{'active' : activePanel=='2'}" class="btn btn-circle btn-default">2</a>
                    <a (click)="showPanel('3')" [ngClass]="{'active' : activePanel=='3'}" class="btn btn-circle btn-default">3</a>
                    <a (click)="showPanel('4')" [ngClass]="{'active' : activePanel=='4'}" class="btn btn-circle btn-default">4</a>
                </div>
            </div>
        </div>



        <div class="col-md-3 col-sm-3 col-xs-12 text-center">
            <img src="img/img11.svg" class="img-responsive inline" width="400" />
        </div>

    </div>

</div>