<div class="col-md-3 col-sm-6 col-xs-12 text-center dashed-right-border">
    <p class="price" *ngIf="!zoomed"> {{stage.StagePrice}}EPG </p>
    <div class="img-responsive inline">
        <canvas #canvas width="400" height="460">{{chart}}</canvas>
        <img alt="image" class="img-circle m-t-xs img-responsive inline" src="{{imagePath}}{{stage.icon}}" onError="this.src='img/logo.png';">
    </div>
    <p *ngIf="!zoomed" class="font-size-18 card_header">
        {{stage.tempDescribtion}}
    </p>
    <!-- <div class="clearfix"></div> -->
</div>
