.login_Button {
    /* border-width: 0px; */
    /* background: inherit; */
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 10px;
    -moz-box-shadow: none;
    /* -webkit-box-shadow: none; */
    /* box-shadow: none; */
    font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
    font-weight: 200;
    /* font-style: normal; */
    font-size: 19px;
    color: #FFFFFF;
    padding: 9px;
    height: 46px;
    margin-bottom: 25px;
}

.sub_login-title-style {

	font-weight: 200;
}

.Text_Field {
    border-width: 0px;
    /* left: 0px; */
    /* top: 0px; */
    /* width: 327px; */
    height: 80px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    /* border: none !important; */
    border-radius: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px !important;
}

.input_font {
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    text-align: left;
    border-color: transparent;
    outline-style: none;
}

.form-control, .single-line {
	padding: 26px;
}

.login_Button {
	border-width: 0px;
	background: inherit;
	background-color: rgba(204, 204, 204, 1);
	border: none;
	border-radius: 10px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
	font-weight: 200;
	font-style: normal;
	font-size: 25px;
	color: #FFFFFF;
	padding: 20px;
	height: 70px;
}

.login_Button:hover {

	background-color: rgba(204, 204, 204, 1);
	color: #FFFFFF;
}

form.m-t {
	width: 50% !important;
}

.img-thumbnail {
	background-color: none !important;
}

::placeholder {
	color: red;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {/* Internet Explorer 10-11 */
	color: red;
}

::-ms-input-placeholder {/* Microsoft Edge */
	color: red;
}

.show {

	margin: 0px;
	background-color: rgba(242, 242, 242, 1);
	background-image: none;
	position: static;
	left: auto;
	/* width: 1960px; */

	margin-left: 0;
	margin-right: 0;
	text-align: left;
	overflow: auto;
}
.top-navigation .wrapper.wrapper-content {
	padding-top: 20px;
	padding-left: 10px;
}

/*--------------------------------Responsive--------------------------------------*/

@media only screen and (max-width: 800px) {
      
    .ibox{
        
        height:315px;
    }
	.ipad {
		margin-left: none !important;
	}
	.show_resposive {

		position: none !important;
		left: none !important;
		width: 768px !important;
		text-align: none !important;
		overflow: none !important;
	}

}

@media only screen and (max-width: 700px) {

      .ibox{
        
        height:auto !important;
    }
    
}

@media only screen and (max-width: 700px) {
  
    .green_arrow{
        display: none !important;
    }
}
@media only screen and (max-width: 480px) {
  
    
    
    .child_button{
        margin-top: 0 !important;
        font-size: 10px !important;
            margin-left: 0px !important;
    }
    .btn-group-sm>.btn, .btn-sm{
            padding: 0px 7px !important;
    }
    .logo_login{
        width: 15% !important;
    }
	.show_resposive {

		position: none !important;
		left: none !important;
		width: 375px !important;
		text-align: none !important;
		overflow: none !important;
	}
	
	.navbar-brand {

		height: 75px;
	}
	.loginscreen.middle-box {

		padding: 29px 50px 29px 26px;
	}


	.sub_login-title-style {
		font-size: 19px;
	}
	.loginscreen.middle-box {

		width: 95% !important;
	}
    
    table td{
            font-size: 11px !important;
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    }
}

@media only screen and (max-width: 320px) {
	.Text_Field {

		width: 240px;
	}

	form.m-t {

		width: 240px !important;
	}

}

/*-----------------------------------------------------------------------------------*/

.img_card {
	border-width: 0px;
	left: 0px;
	top: 0px;
	/* width: 332px; */
	/* height: 194px; */
}

.product-box {

	/* width: 332px; */
}

.product-desc {

	padding: 8px;
    padding-bottom: 0;
    padding-top: 2px;
}

.arrow {
	height: 24px;
	transform: scale(-1);
	border: 0;
}
.product-price {

	width: 40px;
	height: 40px;
	padding: 8px 6px;
	right: 14px;
	top: -20px;
}
.card_header {
	font-family: 'Roboto-Regular', 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	margin-bottom: 2px;
	margin-top: 15px !important;
	color: #333333;
}

.sub_login-title-style_card {
	font-size: 12px;
	font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
}

.head_child {
 font-weight: 200;
    font-style: normal;
    font-size: 25px;
    margin-top: 28px;
    width: auto;
    margin-bottom: 0px;
    height: auto;
    font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
    color: #333333;

}


.child-card {
    width: 100% !important;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    border-radius: 10px;
}


.head_child_card {
	font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
	font-weight: 200;
	font-style: normal;
	font-size: 30px;
	color: #333333;
}

.sub_head_child_card {
	font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
	font-weight: 200;
	font-size: 16px;
	font-style: normal;
    color: #000;
    margin-right: 15%;
    line-height: 20px;
}

.child_button {
   margin-top: 5px;
    /* width: 162px; */
    height: 50px !important;
    margin-left: 10px;
    background: inherit;
    background-color: rgba(27, 176, 242, 1);
    border: none;
    border-radius: 14px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;

}

.card-box:hover {
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.349019607843137);
}


.loginscreen.middle-box {
    width: 48%;
    background: rgba(255, 255, 255, 0.8);
    padding: 14px 10px;
    border-radius: 30px;
}
.logo_login {
    border-width: 0px;
    left: 0px;
    top: 0px;
    width: 250px;
    margin-top: 30px;
    height: 153px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.login-title-style {
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto-Regular', 'Roboto';
    line-height: normal;
}

/*------------table style------------------*/


table{
        text-align: center;
    margin-bottom: 30px;
}

table th{
    background-color: rgba(107, 170, 114, 1);
        font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto';
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
        vertical-align: middle !important;
}

table td{
    border: 2px solid #6baa72;
        background-color: rgba(255, 255, 255, 1);
            font-family: 'Roboto-Light', 'Roboto Light', 'Roboto';
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    color: #000;
    
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        border-top: 2px solid #6baa72;
}


table td:hover{
    background-color: #6baa72;
    color: #fff;
    transition: .3s ease;
}





/*------------End table style------------------*/



.mySlides {display:none}

.w3-animate-left{
    animation:animateleft .5s !important;
}

.panel-heading.panel-temp:hover
{
        background-color: rgba(117, 197, 160, 1);
        border-color: rgba(107, 170, 114, 1);
}
.panel-body.temp11.active:hover,
.list-group-item.temp11.active:hover,
list-group:hover
{
            background-color: rgba(117, 197, 160, 1);
        border-color: rgba(107, 170, 114, 1);
color: #fff;
}



.p-item.temp11 {
    border: none;
    font-size: 15px;
    font-family: 'Roboto-Regular', 'Roboto';
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
      padding-top: 20%;
    line-height: 30px;
}

  #aa{
            height: 3em;
    line-height: 16px;
    overflow-y: hidden;
        }

.childbox{
    padding-top: 20px;
}

