<!DOCTYPE html>
<html>

<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                
            </div>
            <div class="row page-heading">
                <div class="col-lg-12">
                    <h2>Template</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"> Dashboard </a>
                        </li>
                        <li>
                            <a href="#"> Leadership </a>
                        </li>
                        <li>
                            <a href="#"> Plan </a>
                        </li>
                        <li>
                            <a href="#"> Master Plan </a>
                        </li>
                        <li class="active">
                            <strong>Template</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content btn-white">
                <div class="row">
                    <a *ngFor="let Stage of Stages">
                    <div class="col-md-3 col-sm-6 col-xs-12 text-center dashed-right-border">
                        <p class="price"> {{Stage.Price}}{{Stage.currency}} </p>
                        <img alt="image" class="img-responsive inline" src={{Stage.StageImg}}>
                        <p class="font-size-18">
                           {{Stage.StageDiscribtion}}
                        </p>
                        <div class="clearfix"></div>
                    </div>
                     </a>    
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>P&G</strong> Copyright &copy; 2018
                </div>
            </div>
        </div>
    </div>
</body>
</html>
