<div class="dynamic-component">
  <app-stages-template zoomContent="true" [params]="params" *ngIf="data.templateType == '1'"></app-stages-template>
  <app-licence-table zoomContent="true" [params]="params" *ngIf="data.templateType == '2'"></app-licence-table>
  <app-team-template zoomContent="true" [params]="params" *ngIf="data.templateType == '3'"></app-team-template>
  <app-template4 zoomContent="true" [params]="params" *ngIf="data.templateType == '4'"></app-template4>
  <app-team-charter zoomContent="true" [params]="params" *ngIf="data.templateType == '5'"></app-team-charter>
  <app-template6 zoomContent="true" [params]="params" *ngIf="data.templateType == '6'"></app-template6>
  <app-templete7 zoomContent="true" [params]="params" *ngIf="data.templateType == '7'"></app-templete7>
  <app-template9 zoomContent="true" [params]="params" *ngIf="data.templateType == '9'"></app-template9>
  <app-templete10 zoomContent="true" [params]="params" *ngIf="data.templateType == '10'"></app-templete10>
  <app-templete11 zoomContent="true" [params]="params" *ngIf="data.templateType == '11'"></app-templete11>
  <app-templete12 zoomContent="true" [params]="params" *ngIf="data.templateType == '12'"></app-templete12>
  <app-temp13 zoomContent="true" [params]="params" *ngIf="data.templateType == '13'"></app-temp13>

</div>
