<!DOCTYPE html>
<html>

<head>

</head>

<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">

            </div>
            <div class="row page-heading">
                <div class="col-lg-12">
                    <ol class="breadcrumb" style="margin-top: 20px">
                        <li>
                            <a href="index.html"> {{pillarName}} </a>
                        </li>
                        <li>
                            <a (click)="backClicked()"> {{cardTitle}} </a>
                        </li>

                    </ol>
                </div>
            </div>
            <div class="wrapper wrapper-content btn-white">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="img-responsive">
                            <canvas height="100" #canvas>{{chart}}</canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

</html>